<div class="mb-6">
  <label *ngIf="label" class="block text-gray-800 font-medium mb-2 text-left">
    {{ label }}
  </label>
  <div class="relative">
    <div class="absolute left-4 top-1/2 transform -translate-y-1/2">
      <ng-container [ngSwitch]="icon">
        <!-- User Icon -->
        <svg *ngSwitchCase="'user'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          [class.text-blue-500]="isFocused"
          [class.text-gray-400]="!isFocused"
          class="icon-transition">
          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
          <circle cx="12" cy="7" r="4"/>
        </svg>
        <!-- Mail Icon -->
        <svg *ngSwitchCase="'mail'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          [class.text-blue-500]="isFocused"
          [class.text-gray-400]="!isFocused"
          class="icon-transition">
          <rect width="20" height="16" x="2" y="4" rx="2"/>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
        </svg>
        <!-- Lock Icon -->
        <svg *ngSwitchCase="'lock'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          [class.text-blue-500]="isFocused"
          [class.text-gray-400]="!isFocused"
          class="icon-transition">
          <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
          <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
        </svg>
      </ng-container>
    </div>
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInputChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [class.input-focused]="isFocused"
      [class.input-default]="!isFocused"
      class="input-field"
    />
  </div>
</div>

