name: Deploy Fingerprint-management Spring Boot App

on:
  push:
    branches:
      - main
    paths:
      - 'Back-end/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

      - name: Create app directory on VPS
        run: |
          ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} \
          "mkdir -p /home/${{ secrets.VPS_USER }}/apps/fingerprint-management"

      - name: Sync project to VPS
        run: |
          rsync -avz --delete ./ \
          ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/home/${{ secrets.VPS_USER }}/apps/fingerprint-management/

      - name: Build and run container on VPS
        run: |
         ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "cd /home/${{ secrets.VPS_USER }}/apps/fingerprint-management/Back-end/Fingerprint-management && docker build -t fingerprint-management-back:latest . && docker stop fingerprint-management-back || true && docker rm fingerprint-management-back || true && docker run -d --restart unless-stopped --name fingerprint-management-back --network fingerprint-management-network -p ${{ secrets.APP_PORT }}:8085 -e SERVER_PORT=8085 -e DB_URL=jdbc:mysql://fingerprint-mysql:3306/fingerprint-management-db -e DB_USER=monolith -e DB_PASSWORD=monolith fingerprint-management-back:latest"